p {
  color: white; 
}

* {
  background-color: #6495ed;
}

h1 {
  text-align: center;
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  position: absolute;
  z-index: 100;

}

.container {
  position: relative;
}
