p {
  color: white; 
}

* {
  background-color: #6495ed;
}

h1 {
  text-align: center;
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  position: absolute;
  z-index: 100;
  top: 30px;

}

.container {
  position: relative;
  width: 100%;
  height: 30px;
  background-image: url(image1.jpeg);
  background-position: center;
}
